<header class="banner">
  <div class="overlay d-flex justify-content-center position-relative">
    <h1 class="align-self-center text-white">Make your own cocktails</h1>
    <div class="btn position-absolute">
      <%= link_to "Make your cocktail", new_cocktail_path, class: "btn btn-light" %>
    </div>
  </div>
</header>