<header class="banner d-flex justify-content-center position-relative">
  <h1 class="align-self-center">Make your own cocktails</h1>
  <div class="btn position-absolute">
    <%= link_to "Make your cocktail", cocktails_path, class: "btn btn-light" %>
  </div>
</header>