<header class="banner">
  <div class="overlay d-flex justify-content-center position-relative">
    <h1 class="align-self-center text-white">Make your own cocktails</h1>
    <%= render 'components/create_btn', type: 'banner' %>
  </div>
</header>